.blue {
  color: #0074d9;
}
.bg-blue {
  background-color: #0074d9;
}
.carbon-poweredby {
  width: 100%;
  font-size: 12px;
  float: left;
}
.carbon-wrap {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.carbon-img {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.carbon-text {
  float: left;
  width: 50%;
  padding-left: 16px;
  box-sizing: border-box;
  font-size: 12px;
}
