/* Main REPL Styles */
html,
body {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  line-height: 1.35;
}

* {
  font: inherit;
}

#editor,
.output {
  resize: vertical;
  overflow: auto;
  width: 100%;
  background: #eee;
}

#editor {
  height: 480px;
  font-weight: 450;
}

.output {
  height: 240px;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}

pre.one-line {
  height: auto;
  overflow: hidden;
  overflow-wrap: anywhere;
  white-space: pre-line;
  resize: none;
  font-size: 14px;
}

#root pre .token {
  background: none;
}

#input pre {
  color: #c0c;
  background: none;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
  position: relative;
  margin: 0.5em 0;
  overflow: visible;
  padding: 0;
}

.token {
  color: #000;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7d8b99;
}

.token.punctuation {
  color: #5f6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #a3c;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8;
}

.token.regex,
.token.important {
  color: #e90;
}

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  pre:before,
  pre:after {
    bottom: 14px;
    box-shadow: none;
  }
}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}
